Repository jfrog/frogbot, pull requests merged in 2022-05, with the labels that each got.

#70 Update go.mod & go.sum
  commands/testdata/messages/dummyvulnerabilities.md
  commands/testdata/messages/novulnerabilities.md
  commands/testdata/scanpullrequest/expectedResponse.json
  commands/utils/icons.go
  commands/utils/icons_test.go
  commands/utils/params_test.go
  go.mod
  go.sum
Labels: safe to test

#74 Fix Scan All Pull Requests
  commands/scanpullrequests.go
Labels: safe to test

#77 Update froggit-go and jfrog-cli-core on go.mod
  go.mod
  go.sum
Labels: dependencies

#89 Split GitHub templates
  README.md
  commands/utils/git.go
  images/github-environment.png
  images/github-pr-permissions.png
  images/github-repository-secrets.png
  templates/github-actions/README.md
  templates/github-actions/create-fix-pull-requests/frogbot-fix-go.yml
  templates/github-actions/create-fix-pull-requests/frogbot-fix-maven.yml
  templates/github-actions/create-fix-pull-requests/frogbot-fix-npm.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-dotnet.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-go.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-gradle.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-maven.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-npm.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-nuget.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-pip.yml
  templates/github-actions/scan-pull-request/frogbot-scan-pr-pipenv.yml
Labels: feature request, safe to test

#76 Add Tests for shouldScanPullRequest logic
  .github/workflows/test.yml
  .gitignore
  CONTRIBUTING.md
  commands/scanpullrequest.go
  commands/scanpullrequest_test.go
  commands/scanpullrequests_test.go
  commands/testdata/scanpullrequests/test-proj-with-vulnerability/package.json
  commands/testdata/scanpullrequests/test-proj-with-vulnerability/test-proj/package.json
  commands/testdata/scanpullrequests/test-proj/package.json
  commands/testdata/scanpullrequests/test-proj/test-proj/package.json
  commands/utils/icons_test.go
  commands/utils/params_test.go
  go.mod
  go.sum
  release/pipelines.yml
Labels: safe to test
